body {
  background-color: rgb(191, 95, 95, 0.6);
}
a {
  color: rgb(255, 242, 242);
}

.App {
  text-align: center;
}
.App-header {
  font-size: 100px;
  font-family: fantasy;
}
footer {
  padding-top: 20px;
  font-size: 14px;
}
