.Meanings h3 {
  font-size: 36px;
  line-height: 1.5;
}

.Meanings .definition {
  color: rgb(20, 63, 107);
}

.Meanings .example {
  font-size: 14px;
  font-style: italic;
  color: rgb(20, 63, 107, 0.5);
  margin-top: 10px;
}
